package main

import (
	"time"
	"github.com/squat/and/dab/templeuser/dao"
)

// env defines the environment that requests should be executed within
type env struct {
	dao dao.Datastore
}

// createTempleuserRequest contains the client-provided information required to create a single templeuser
type createTempleuserRequest struct {
	IntField      *int32     `valid:"type(int32),required"`
	DoubleField   *float64   `valid:"type(float64),required"`
	StringField   *string    `valid:"type(string),required"`
	BoolField     *bool      `valid:"type(bool),required"`
	DateField     *time.Time `valid:"type(string),rfc3339WithoutZone,required"`
	TimeField     *time.Time `valid:"type(string),rfc3339WithoutZone,required"`
	DateTimeField *time.Time `valid:"type(string),rfc3339WithoutZone,required"`
	BlobField     *[]byte    `valid:"type(string),base64,required"`
}

// updateTempleuserRequest contains the client-provided information required to update a single templeuser
type updateTempleuserRequest struct {
	IntField      *int32     `valid:"type(int32),required"`
	DoubleField   *float64   `valid:"type(float64),required"`
	StringField   *string    `valid:"type(string),required"`
	BoolField     *bool      `valid:"type(bool),required"`
	DateField     *time.Time `valid:"type(string),rfc3339WithoutZone,required"`
	TimeField     *time.Time `valid:"type(string),rfc3339WithoutZone,required"`
	DateTimeField *time.Time `valid:"type(string),rfc3339WithoutZone,required"`
	BlobField     *[]byte    `valid:"type(string),base64,required"`
}

func main() {

}
