package dao

import (
	"database/sql"
	"fmt"

	"github.com/TempleEight/spec-golang/auth/util"
	"github.com/google/uuid"

	// pq acts as the driver for SQL requests
	"github.com/lib/pq"
)

// https://www.postgresql.org/docs/9.3/errcodes-appendix.html
const psqlUniqueViolation = "unique_violation"

// Datastore provides the interface adopted by the DAO, allowing for mocking
type Datastore interface {
	CreateAuth(input CreateAuthInput) (*Auth, error)
	ReadAuth(input ReadAuthInput) (*Auth, error)
}

// DAO encapsulates access to the datastore
type DAO struct {
	DB *sql.DB
}

// Auth encapsulates the object stored in the datastore
type Auth struct {
	ID       uuid.UUID
	Email    string
	Password string
}

// CreateAuthInput encapsulates the information required to create a single auth in the datastore
type CreateAuthInput struct {
	ID       uuid.UUID
	Email    string
	Password string
}

// ReadAuthInput encapsulates the information required to read a single auth in the datastore
type ReadAuthInput struct {
	Email string
}

// Init opens the datastore connection, returning a DAO
func Init(config *util.Config) (*DAO, error) {
	connStr := fmt.Sprintf("user=%s dbname=%s host=%s sslmode=%s", config.User, config.DBName, config.Host, config.SSLMode)
	db, err := sql.Open("postgres", connStr)
	if err != nil {
		return nil, err
	}
	return &DAO{db}, nil
}

// Executes a query, returning the row
func executeQueryWithRowResponse(db *sql.DB, query string, args ...interface{}) *sql.Row {
	return db.QueryRow(query, args...)
}

// Executes a query, returning the number of rows affected
func executeQuery(db *sql.DB, query string, args ...interface{}) (int64, error) {
	result, err := db.Exec(query, args...)
	if err != nil {
		return 0, err
	}
	return result.RowsAffected()
}
