package main

import (
	"net/http"

	matchComm "github.com/TempleEight/spec-golang/match/comm"
	matchDAO "github.com/TempleEight/spec-golang/match/dao"
)

var dao matchDAO.DAO
var comm matchComm.Handler

func main() {

}

func jsonMiddleware(next http.Handler) http.Handler {
	return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		// All responses are JSON, set header accordingly
		w.Header().Set("Content-Type", "application/json")
		next.ServeHTTP(w, r)
	})
}

func matchListHandler(w http.ResponseWriter, r *http.Request) {}

func matchCreateHandler(w http.ResponseWriter, r *http.Request) {}

func matchReadHandler(w http.ResponseWriter, r *http.Request) {}

func matchUpdateHandler(w http.ResponseWriter, r *http.Request) {}

func matchDeleteHandler(w http.ResponseWriter, r *http.Request) {}
