package main

import (
	"net/http"

	userDAO "github.com/TempleEight/spec-golang/user/dao"
)

var dao userDAO.DAO

func main() {

}

func jsonMiddleware(next http.Handler) http.Handler {
	return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		// All responses are JSON, set header accordingly
		w.Header().Set("Content-Type", "application/json")
		next.ServeHTTP(w, r)
	})
}

func userCreateHandler(w http.ResponseWriter, r *http.Request) {}

func userReadHandler(w http.ResponseWriter, r *http.Request) {}

func userUpdateHandler(w http.ResponseWriter, r *http.Request) {}

func userDeleteHandler(w http.ResponseWriter, r *http.Request) {}
