package main

import (
	"github.com/TempleEight/spec-golang/user/dao"
)

// env defines the environment that requests should be executed within
type env struct {
	dao dao.Datastore
}

// createUserRequest contains the client-provided information required to create a single user
type createUserRequest struct {
	Name *string `valid:"-"`
}

// updateUserRequest contains the client-provided information required to update a single user
type updateUserRequest struct {
	Name *string `valid:"-"`
}

func main() {

}
