package dao

    import(
    "errors"
    )

// ErrAuthNotFound is returned when the provided email was not found
    var ErrAuthNotFound=errors.New("auth not found")

// ErrDuplicateAuth is returned when an auth already exists
    var ErrDuplicateAuth=errors.New("auth already exists")
