package dao

	import"fmt"

// ErrTempleuserNotFound is returned when a templeuser for the provided ID was not found
	type ErrTempleuserNotFound int64

	func(e ErrTempleuserNotFound)Error()string{
	return fmt.Sprintf("templeuser not found with ID %d",e)
}
