package dao

import "fmt"

// ErrTempleuserNotFound is returned when a templeuser for the provided ID was not found
type ErrTempleuserNotFound string

func (e ErrTempleuserNotFound) Error() string {
	return fmt.Sprintf("templeuser not found with ID %d", string(e))
}
