package main

import "github.com/squat/and/dab/complexuser/dao"

// Hook allows additional code to be executed before and after every datastore interaction
// Hooks are executed in the order they are defined, such that if any hook errors, future hooks are not executed and the request is terminated
type Hook struct {
	beforeCreateHooks []*func(env *env, req createComplexuserRequest, input *dao.CreateComplexuserInput) *HookError
	beforeReadHooks   []*func(env *env, input *dao.ReadComplexuserInput) *HookError
	beforeUpdateHooks []*func(env *env, req updateComplexuserRequest, input *dao.UpdateComplexuserInput) *HookError
	beforeDeleteHooks []*func(env *env, input *dao.DeleteComplexuserInput) *HookError
	afterCreateHooks  []*func(env *env, complexuser *dao.Complexuser) *HookError
	afterReadHooks    []*func(env *env, complexuser *dao.Complexuser) *HookError
	afterUpdateHooks  []*func(env *env, complexuser *dao.Complexuser) *HookError
	afterDeleteHooks  []*func(env *env) *HookError
}

// HookError wraps an existing error with HTTP status code
type HookError struct {
	statusCode int
	error      error
}

func (e *HookError) Error() string {
	return e.error.Error()
}
